@import "tailwindcss";

html, body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-height: fit-content;
  width: 100vw;
  font-family: var(--font-poppins);
}